In [16]:
import pandas as pd 
import sqlalchemy
from sqlalchemy import create_engine

In [17]:
conexion_string = "mysql+pymysql://root:1234@127.0.0.1/world"
engine = create_engine(conexion_string)

In [18]:
query = """
    SELECT cc.Name as pais, count(c.ID) as cantidad_ciudades 
    FROM city c
    JOIN country cc ON (c.CountryCode = cc.Code)
    GROUP BY pais
    HAVING cantidad_ciudades > 100
    ORDER BY 2 DESC;
"""

In [19]:
df_sql = pd.read_sql(query, engine)

In [20]:
df_sql

                 pais  cantidad_ciudades
0               China                363
1               India                341
2       United States                274
3              Brazil                250
4               Japan                248
5  Russian Federation                189
6              Mexico                173
7         Philippines                136

In [ ]:
#st.bar_chart(df_sql, x='pais', y='cantidad_ciudades')